<!-- PATCH  /restaurants/:id(.:format)           restaurants#update -->
<!-- <form action="/restaurants/2" method="PATCH">
  <input type="text" name="name" placeholder="name" value="beef and liberty">
  <input type="text" name="address" placeholder="address" value="xiangyang">
  <input type="text" name="rating" placeholder="rating" value="5">
  <input type="submit">
</form> -->
<%= render 'form', restaurant: @restaurant %>