 <!-- POST   /restaurants(.:format)restaurants#create -->
<!-- <form action="/restaurants" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="address" placeholder="address">
  <input type="text" name="rating" placeholder="rating">
  <input type="submit">
</form> -->
<%= render 'form', restaurant: @restaurant %>